/* html,body{
    margin: 0px;
    padding: 0px;
} */
.header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 2px;
    background-color: white;
    border-bottom: 1px solid rgb(245, 229, 229);
    flex-wrap: wrap;
}
.content{
    z-index: 1px;
    
}
button.fa-bars{
    display: none;
    position: relative;
}

.bars-cont{
    position: absolute;
    background-color: white;
    top: 48px;
    width: 193px;
    height: 300px;
    left: -150px;
    display: none;
    padding: 10px;
    
    box-shadow: 0px 0px 10px blue;
    
}
.ex{
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}
.sig{
    display: flex;
    justify-content: space-between;
    width: 170px;
    align-items: center;
}
#get{
    background-color: #0052FF;
    color: white;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 5px;
}
.expt{
    width: 50px;
    background-color: #0052FF;
    height: 5px;
    margin-top: 25px;
    display: none;
    position: absolute;
    
}

.learn-menu{
    display: none;
    width: 100%;
    height: 160px;
    background-color: white;
    position: absolute;
    margin-left: -535px;  
    top: 20px;
    border-bottom: inset;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
}
.ind-menu{
    display: none;
    width: 100%;
    height: 350px;
    background-color: white;
    position: absolute;
    margin-left: -640px;  
    top: 80px;
    border-bottom: inset;
    font-size: 18px;
    font-weight: 600;
    
    justify-content: center;
    gap: 60px;
}
.busi-menu{
    display: none;
    width: 100%;
    height: 280px;
    background-color: white;
    position: absolute;
    margin-left: -785px;  
    top: 80px;
    border-bottom: inset;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    gap: 60px;
}
.dev-menu{
    display: none;
    width: 100%;
    height: 280px;
    background-color: white;
    position: absolute;
    margin-left: -925px;  
    top: 80px;
    border-bottom: inset;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    gap: 60px;
}
.comp-menu{
    display: none;
    width: 100%;
    height: 160px;
    background-color: white;
    position: absolute;
    margin-left: -1070px;  
    top: 80px;
    border-bottom: inset;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    gap: 60px;
    align-items: center;
}
.lea:hover .learn-menu{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 80px;
    margin-top: 60px;
}
.ind:hover .ind-menu{
    display: flex;
   
}
.ind-menu-1{
    display: flex;
}
.busi:hover .busi-menu{
    display: flex;
}
.dev:hover .dev-menu{
    display: flex;
}
.comp:hover .comp-menu{
    display: flex;
}
.exp:hover .expt{
    display:block ;   
}
.lea:hover .expt{
    display:block ;   
}
.exp{
    position: relative;
}


.form-group{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    
}
#usr{
    height: 70px;
}
.but{
    margin-left: 10px;
    height: 70px;
    width: 180px;
    
}
.buty{
    
    height: 40px;
    
}
.cont1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    margin-top: 5%;
    /* margin-bottom: 20px; */
}
.jump{
    width: 750px;
    
    flex-wrap: wrap;
}
.cont3{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
}
.ear-1{
    width: 30%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    margin-left: 5%;
    margin-top: 50px;
    


}
.grap{
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
    min-width: 200px;
}
.graph{
   height: 480px;
    /* min-width: 300px; */
}
.gra{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 400px;
    
    height: 100px;

}
.gra:hover{
    box-shadow: 0px 0px 6px black;

}


.jim{
    display: flex;
    max-width: 400px;

    margin-bottom: 30px;
    
}
.cont4{
    margin-top: 80px;
}
.cont5{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
    
}
.cont6{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}
.cont6 div{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.cont7{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 200px;
    flex-wrap: wrap;
    
    
}
.cont7 div{
    max-width: 350px;
    font-size: 15px;
    font-weight: 700;
    color: #0052FF;
}
.cont8{
    height: 200px;
    background-color: #0052FF;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
    
}
.bol{
    font-size: 50px;
    font-weight: 700;
}
.coi{
    color: #FFFFFF;
    font-size: 18px;
    margin-left: -20px;
}
.coix{
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 20px;
}
.cont10{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-bottom: 60px;
}
.cont11{
    display: flex;
    background-image: url(./image/0_bwggomhkq3V9i4ze.jpg);
    width: 100%;
    height: 400px;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    background-position: 650px;
    background-color: #F5F8FF;

}
.cont11-1{
    max-width: 340px;
    color: black;
    margin-left: 20%;
}
.cont12{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    flex-wrap: wrap;
}
.cont12-5{
    display: none;
}
@media(max-width: 1400px){
    .busi:hover .busi-menu{
    display: none;
    }
    .dev:hover .dev-menu{
    display: none;
    }
    .comp:hover .comp-menu{
    display: none;}
    .ind:hover .ind-menu{
        display: none;}
    .lea:hover .learn-menu{
    display: none;}
}
@media(max-width: 1275px){
    .phne img{
        width: 400px
    }
   .jump{
    width: 600px;}
   .but{width: 120px;}
   #usr{width: 250px;}
}
@media(max-width: 1160px){
    .jump{ width: 400px;}
    div h1.jumm{
        width: 80% !important;
        font-size: 60px !important;
        line-height: 70px !important;}
    div.cin h4{
        font-size: 20px !important;
        width: 95% !important;}
    #usr{
        margin-left: 40px;
        width: 180px;}
    .but{
        width: 100px;}
}
@media(max-width:980px){
    .phne img{
        width: 400px;
    }
   .jump{
        width: 300px;
        }
    div h1.jumm{
        width: 80% !important;
        font-size: 40px !important;
        line-height: 40px !important;}
    div.cin h4{
        font-size: 15px !important;
        width: 85% !important;}
    .but{width: 100px;}
    #usr{width: 150px;
        margin-left: 80px;}
}
@media(max-width:920px){
    .cont7{
        display: none;
    }
    .cont8{
        margin-top: 80px;
    }
    .ex{
        display: none;
    }
    button.fa-bars{
        display: initial;
        border: none;
        background-color: white;
        font-size: 18px;
    }
    .sigb{
        display: none;
    }
    .header{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .sig{
        justify-content: space-around;
        width: 200px;
        position: relative;
    }
    .logo{
        margin-left: 30px;
    }
    button.fa-bars:focus .bars-cont{
        display:flex ;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: 'Gill Sans', 
        'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}
@media(max-width:740px){
    .cont10{
        display: none;
    }
    .phne img{
        width: 300px;
    }
    .con5{
        margin-left: 60px;
    }
    .con5 div img{
        width: 80%;
    }
    .cont12-5{
        display: block;
    }
    .cont12-2{
        display: none;
    }
    .cont12-3{
        display: none;
    }
    .cont12-4{
        display: none;
    }
}
@media(max-width:640px){
    .phne img{
        width: 250px;
        margin-top: 20px;
    }
    .header{
        position: static;
    }
    .cont12-4{
        display: none;
    }
    .ear-1{
        min-width: 200px;
    }
    .ear{
        font-size: 25px!important;
    }
    .ear-2{
        font-size: 15px;
    }  
    .con5{
        width: 600px;
    }
    .ear-1{
        display: none;
    }
}
@media(max-width:580px){
    .phne img{
        width: 200px;
        margin-top: 30px;
    }
    .cont8{
        display: none;
    }
    td.hides{
        display: none;
    }
   
    
    
}
@media(max-width:500px){
    .phne img{
        display: none;
    }
    .jump{
        width: 90%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
    .cont1{
        width: 90%;
        justify-content: space-around;
        align-items: center;
        margin-left: 40px;
    }

    div h1.jumm{
        
        font-size: 30px !important;
    }
    #usr{
        width: 300px;
    }
    .cont4{
        margin-left: 10px;
    }
    .cont8{
        font-size: 10px;
    }
    /* .cont12-3{
        display: none;
    } */
    .con5 div img{
        width: 90%;
        margin-left: 0px;
    }
    .cont11{
        margin-left: 10px;
        width: 95%;
    }
    .cont4 h1{
        font-size: 20px !important;
    }
    .cont4{
        margin-top: 20px;
    }
    .cont4 div{
        font-size: 15px;
        width: 80%;
    }
    .bol{
        font-size: 25px;
    }
    .coi{
        font-size: 14px;
    }
    .cont8{
        height: 120px;
        width: 0px;
        display: none;
    }
    .cont9 h1{
        font-size: 20px;
    }
    
    
    .cont9-1{
        font-size: 14px !important;
        margin-left: 0px;
    }
    .piv{
        display: none;
    }
    .cont6{
        margin-left: 40px;
    }
    .cont9{
        margin-top: 20px;
    }
}
@media(max-width:435px){
    .hide0{
       display: none;
    }
    .cont4 h1{
        font-size: 17px !important;
    }
    
    .cont4 div{
        font-size: 15px;
        width: 80%;
    }
    .cont5{
        width: 95%;
        margin-left: 10px;
    }
    .cont6{
        margin-left: 0px;
    }
    .con5 div img{
        width: 80%;
        
    }
    .con5{
        width: 90%;
        
    }
    .jim img{
        width: 50px !important;
        height: 50px !important;
    }
    .cont9{
        /* display: none; */
    }
}

@media(max-width:396px){
    .container{
        display: none;
    }
    .cont1{
        /* margin-left: 10px; */
    }
    .graph{
        width: 60%;
        /* margin-left: -20px; */
    }
    .cont3{
        width: 30%;
        margin-left: -40px;
    }
    .cont1{
        margin-left: 18px;
        width: 90%;
    }

}
@media(max-width:386px){
    .logo img{
        width: 100px;
    }
    #usr{
        width: 160px;
        height: 50px;
    }
    .butty{
        height: 50px;
    }
    .cont11{
        margin-left: 10px;
        width: 95%;
        height: 300px;
    }
    .graph{
        width: 90%;
       margin-left: 10px;
    }
    .cont3{
        width: 90%;
        margin-left: -40px;
        
    }
    .gra{
        margin-left: 15px;
        min-width: 360px;
    }
    .jump{
        font-size: 13px;
    }
}